*{
    padding: 0;
    margin: 0;
}
ul,li,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    font-family: 微软雅黑;
}
#header{
    height: 173px;
    width: 100%;
    text-align: center;
    background-color: rgb(244,244,244);
}
#logo{
    padding-top: 30px;
}
#nav{
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    width: 670px;
    background-color: white;
    border-radius: 23px; /*圆角*/
}
#nav li{
    float: left;
    height: 45px;
    padding: 0 26px;
    line-height: 45px;
    background: url(../img/06_line.png) no-repeat right center;
}
.first{
    display: block;
    height: 42px;
    border-bottom: 3px solid #1e50ae;
}
#nav li:last-child{
    background: none;
}
#top{
    width: 100%;
    height: 405px;
    overflow: hidden;
    background: url(../img/06_banner_02.png) no-repeat center center;
}
.text{
    width: 682px;
    height: 232px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 83px;
    background-color: rgba(0,0,0,0.2);
    opacity: 1.0; /*透明度*/
    text-align: center;
    overflow: hidden;
}
#p1{
    margin-top: 61px;
    color: white;
    font-size: 45px;
    font-weight: bold;
}
#p2{
    margin-top: 38px;
    color: white;
    font-size: 17.17px;
}
.s1{
    font-size: 45px;
}
#up{
    width: 100%;
    height: 809px;
    text-align: center;
}
#p3{
    margin-top: 61px;
    font-size: 34px;
}
#p4{
    margin-top: 24px;
    font-size: 22px;
}
#item{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 1224px;
    height: 615px;
}
.item1{
    float: left;
    width: 306px;
    height: 367px;
}
.li1{
    margin-top: 16px;
    margin-left: 117.5px;
    color: rgb(214,214,214);
    font-size: 14px;
    text-align: left;
}
.li2{
    margin-top: 13px;
    margin-left: 117.5px;
    color: rgb(214,214,214);
    font-size: 14px;
    text-align: left;
}
.item2{
    float: left;
    width: 306px;
    height: 248px;
}
.p5{
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}
#middle{
    width: 100%;
    height: 712px;
    overflow: hidden;
    background: url(../img/06_middle_02.png) no-repeat center center;
    text-align: center;
}
#p6{
    margin-top: 67px;
    font-size: 32px;
    color: white;
}
#p7{
    margin-top: 24px;
    font-size: 22px;
    color: white;
}
#sol{
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 1201px;
    height: 298px;
}
#left1{
    float: left;
    margin-top: 131px;
}
#left2{
    margin-left: 35px;
    float: left;
}
#left3{
    margin-left: 51px;
    float: left;
}
#right3{
    margin-left: 51px;
    float: left;
}
#right2{
    margin-left: 51px;
    float: left;
}
#right1{
    margin-left: 42px;
    margin-top: 131px;
    float: left;
}
#more{
    width: 234px;
    height: 54px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    text-align: center;
}
#morep{
    margin-top: 16px;
    color: white;
    font-size: 16px;
}
#down{
    width: 100%;
    height: 900px;
    text-align: center;
}
#p8{
    margin-top: 58px;
    font-size: 32px;
    color: black;
}
#p9{
    margin-top: 23px;
    font-size: 22px;
    color: black;
}
#newest{
    width: 1063px;
    height: 277px;
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
}
#img1{
    float: left;
}
#good{
    margin-left: 76px;
    float: left;
    height: 100%;
    width: 505px;
    text-align: left;
}
#p10{
    margin-top: 28px;
    font-size: 22px;
}
#p11{
    margin-top: 13px;
    font-size: 17px;
}
#p12{
    margin-top: 23px;
    line-height: 32px;
    font-size: 14px;
    color: rgb(158,158,158);
}
#more2{
    margin-top: 33px;
    height: 41px;
    width: 140px;
    border: 1px solid #1141a3;
    border-radius: 20.5px;
}
#more2p{
    margin-top: 12px;
    font-size: 15px;
    text-align: center;
    color: #1141a3;
}
#text{
    width: 1050px;
    height: 256px;
    margin-top: 96px;
    margin-left: auto;
    margin-right: auto;
}
#text1{
    float: left;
    text-align: left;
    color: #797979;
    font-size: 14px;
}
#text2{
    float: right;
    text-align: right;
    color: #797979;
    font-size: 14px;
}
#down1{
    width: 100%;
    height: 102px;
    background-color: #f5f5f5;
    overflow: hidden;
    margin-top: 90px;
}
#down2{
    width: 1200px;
    height: 47px;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
}
.down3{
    width: 299px;
    height: 47px;
    float: left;
    border-right: #e0e0e0 solid 1px;
}
.down4{
    width: 300px;
    height: 47px;
    float: left;
}
.img1{
    margin-left: 45px;
    float: left;
}
.text3{
    float: right;
    width: 180px;
    height: 47px;
}
.p16{
    margin-top: 2px;
    font-size: 16px;
    text-align: left;
}
.p17{
    margin-top: 4px;
    font-size: 9px;
    text-align: left;
}
#bottom{
    width: 100%;
    height: 387px;
    background: url(../img/06_bottom_backgound_23.png) repeat-x center center;
}
#bottom_nav1{
    height: 146px;
    width: 1200px;
    margin-top: 73px;
    margin-left: auto;
    margin-right: auto;
}
.bottom_nav1p {
    margin-top: 73px;
    height: 146px;
    width: 176px;
    float: left;
}
.p13{
    margin-left: 6px;
    margin-top: 3px;
    font-size: 18px;
    color: white;
}
.p14{
    margin-left: 6px;
    font-size: 14px;
    color: white;
    line-height: 45px;
}
.p15{
    margin-left: 6px;
    font-size: 14px;
    color: white;
    line-height: 36px;
}
#TD{
    margin-top: 73px;
    float: left;
}
#bottom_nav1li{
    float: left;
    height: 146px;
    width: 207px;
    margin-top: 73px;
    margin-left: 53px;
}
#p18{
    font-size: 17px;
    color: white;
    line-height: 35px;
}
#bottom_nav1li1{
    height: 28px;
    width: 207px;
    margin-top: 25px;
}
#img2{
    float: left;
}
#p19{
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    color: white;
}
#bottom_nav1li2{
    height: 24px;
    width: 207px;
    margin-top: 23px;
}
#img3{
    float: left;
}
#p20{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: white;
}
#bottom_ul{
    height: 14px;
    width: 848px;
    clear: both;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}
.li3{
    color: white;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    border-right: #a6a6a6 solid 2px;
}
#li4{
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
}
#p21{
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    color: white;
}